@model BookShop.Models.ViewModels.Account.SetPasswordViewModel
@{
    ViewBag.Title = "Ustaw hasło";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Moje konto", "Index", "Manage")
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">
            @ViewBag.Title
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">
            Nie posiadasz lokalnego konta. Ustaw hasło, aby logować się bez potrzeby pośrednictwa Facebook czy Google.
        </h4>
    </div>
</div>

<div id="message"></div>

@using (Ajax.BeginForm("SetPassword", "Manage", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "showMessage"
}, new { id = "setPasswordForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Hasło", title = "Hasło musi zawierać conajmniej 6 dowolnych znaków" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Powrórz hasło", title = "Hasło musi zawierać conajmniej 6 dowolnych znaków i być takie samo jak podane w polu \"Hasło\"" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-5 text-center">
            <input type="submit" value="Ustaw" class="btn btn-success" />
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/tooltip")
    <script>
        $(function () {
            myFormValidation('setPasswordForm');
        });
    </script>
}
