@model BookShop.Models.ViewModels.Transaction.TransactionDetailViewModel

@{
    ViewBag.Title = "Transakcja nr. " + Model.Id;
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Moje konto", "Index", "Manage")
            </li>
            <li>
                @Html.ActionLink("Moje transakcje", "MyTransactions", "Manage")
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">
            @ViewBag.Title
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <b>Status:</b>
    </div>
    <div class="col-md-11 text-success">
        @Model.Status
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <b>Numer:</b>
    </div>
    <div class="col-md-11">
        @Model.Id
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <b>Data:</b>
    </div>
    <div class="col-md-11">
        @Model.Date
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <b>Wysyłka: </b>
    </div>
    <div class="col-md-11">
        @Model.Delivery.DeliveryType
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <b>Płatność:</b>
    </div>
    <div class="col-md-11">
        @Model.Payment.PaymentType
    </div>
</div>

<div class="row" style="padding-top: 15px;">
    <div class="col-md-1">
        <b>Odbiorca:</b>
    </div>
    <div class="col-md-11">
        @Model.DeliveryAddress.FirstName @Model.DeliveryAddress.LastName
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <b>Adres:</b>
    </div>
    <div class="col-md-11">
        @Model.DeliveryAddress.Street, @Model.DeliveryAddress.PostCode @Model.DeliveryAddress.City
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.DeliveryAddress.PhoneNumber))
{
    <div class="row">
        <div class="col-md-1">
            <b>Telefon:</b>
        </div>
        <div class="col-md-11">
            @Model.DeliveryAddress.PhoneNumber
        </div>
    </div>
}

<div class="row" style="padding-top: 30px;">
    <div class="col-md-12">
        <table id="transactionDetailsTable" class="table">
            <thead>
                <tr>
                    <th class="text-center">Tytuł</th>
                    <th class="text-center">Autor</th>
                    <th class="text-center">Ilość</th>
                    <th class="text-center">Cena</th>
                    <th class="text-center">Wartość</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookQuantities)
                {
                    <tr class="text-center">
                        <td>
                            @Html.ActionLink(item.Book.TitleForDisplay, "GetSingleBook", "Books", new { mainCategoryName = item.Book.SubMainCategories.Select(x=>x.MainCategory).FirstOrDefault().Name,
                                subMainCategoryName = item.Book.SubMainCategories.FirstOrDefault(), id = item.BookId, title = item.Book.Title }, null)
                        </td>
                        <td>
                            @foreach (var author in item.Book.Author)
                            {
                                @Html.ActionLink(author.FirstName + ' ' + author.LastNameForDisplay + " ", "GetAuthor", "Author", new { id = author.Id, lastName = author.LastName }, null)
                            }
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.BookPrice
                        </td>
                        <td>
                            @((item.Quantity * item.BookPrice).ToString("C"))
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="text-center">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><b>Koszt wysyłki:</b></td>
                    <td>
                        @Model.Delivery.Price.ToString("C")
                    </td>
                </tr>
                <tr class="text-center">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><b>Suma:</b></td>
                    <td>
                        @Model.TransactionAmount
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts
{
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/dataTablesDefault")
    <script>
        $(document).ready(function () {
            $('#transactionDetailsTable').DataTable();
        });
    </script>
}