@model BookShop.Models.ViewModels.Account.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Nowe konto";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">
            Użyj serwisu Facebook lub Google, aby się zalogować
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

@if (Model.Errors.Any())
{
    foreach (var error in Model.Errors)
    {
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center text-danger">@error</h4>
            </div>
        </div>
    }
}
else
{
    using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "externalLoginConfirmationForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12 text-center">
                Twoje konto <strong>@Model.LoginProvider</strong>  zostało poprawnie zweryfikowane.
                Wypełnij poniższy formularz, aby w pełni korzystać z naszego serwisu.
            </div>
        </div>
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Adres email", title = "Twój adres email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5 text-center">
                <div class="form-group">
                    <input type="submit" value="Załóż" class="btn btn-success"/>
                </div>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery-ui")
        @Scripts.Render("~/bundles/tooltip")
        <script>
            $(function () {
                myFormValidation('externalLoginConfirmationForm');
            });
        </script>
    }
}