@model BookShop.Models.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Zapomniałeś hasła?";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Logowanie", "Login")
            </li>
            <li>
                @ViewBag.Title
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">
            @ViewBag.Title
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div id="message"></div>

@using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "showMessage"
}, new { id = "forgotPasswordForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Adres emial", title = "Twój adres email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5 text-center">
            <input type="submit" value="Wyślij" class="btn btn-success"/>
        </div>
    </div>
            
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/tooltip")
    <script>
        $(function () {
            myFormValidation('forgotPasswordForm');
        });
    </script>
}
