@model IEnumerable<BookShop.Models.ViewModels.Books.BookIndexViewModel>

@{
    ViewBag.Title = "Książki";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div id="alertPlaceholder"></div>
<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div style="padding-bottom: 15px;">
                <span>Opcje: </span>
                <button id="create" class="btn btn-default btn-success" style="color: #fff"><span class="glyphicon glyphicon-plus" title="Dodaj nową książkę"></span></button>
                <button id="edit" class="btn btn-default btn-warning" style="color: #fff"><span class="glyphicon glyphicon-pencil" title="Edytuj książkę"></span></button>
                <a id="details" class="btn btn-default btn-primary" style="color: #fff"><span class="glyphicon glyphicon-info-sign" title="Szczegóły"></span></a>
                <button id="delete" class="btn btn-default btn-danger" style="color: #fff"><span class="glyphicon glyphicon-trash" title="Usuń książkę"></span></button>
                <button id="setBestseller" class="btn btn-default" style="color: green"><span class="glyphicon glyphicon-ok" title="Ustaw jako bestseller"></span></button>
                <button id="removeBestseller" class="btn btn-default" style="color: #8b0000"><span class="glyphicon glyphicon-remove" title="Usuń bestseller"></span></button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 20px 0;">
    <div class="col-md-12">
        <div id="booksResult">
            @Html.Partial("IndexPartial", Model)
        </div>
    </div>
</div>

<div id="modalInsert"></div>

@section scripts
{
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/tooltip")
    @Scripts.Render("~/bundles/adminBookIndex")
}


