@model BookShop.Models.ViewModels.ShoppingCart.OtherDeliveryAddressViewModel
  
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "otherFirstName", placeholder = "Imie", title = "Podaj imie odbiorcy. Maksymalnie 50 znaków." })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "otherLastName", placeholder = "Imie", title = "Podaj nazwisko odbiorcy. Maksymalnie 50 znaków." })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Street)
            @Html.TextBoxFor(m => m.Street, new { @class = "form-control", id = "otherStreet", placeholder = "Ulica wraz z numerem", title = "Podaj ulicę wraz z numerem. Maksymalnie 50 znaków." })
            @Html.ValidationMessageFor(m => m.Street, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", id = "otherCity", placeholder = "Miejscowość", title = "Podaj miejscowość. Maksymalnie 50 znaków." })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.PostCode)
            @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", id = "otherPostCode", placeholder = "Kod pocztowy w formacie xx-xxx", title = "Podaj kod pocztowy w formacie xx-xxx" })
            @Html.ValidationMessageFor(m => m.PostCode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber) (opcjonalnie)
            <div class="input-group">
                <span class="input-group-addon">+</span>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", id = "otherPhoneNumber", placeholder = "Numer telefonu", title = "Podaj numer telefonu w razie potrzeby kontaktu. Numer składa się z 11 cyfr", type = "number" })
            </div>
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<script>
    $(function () {
        myFormValidation('deliveryAddressForm');
    });
</script>

