@model BookShop.Data.Author

<div class="modal fade" id="editAuthorModal" tabindex="-1" role="dialog" aria-labelledby="editAuthorModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Zmień autora</h4>
            </div>
            @using (Ajax.BeginForm("EditAuthorPost", "Authors", new { area = "Admin" }, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "showEditAuthorResult"
            }, new { id = "editAuthorForm" }))
            {
                <div class="modal-body">
                    <div id="editAuthorResult">
                    </div>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id, new { id = "authorId" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, new { rows = 4, @class = "form-control", placeholder = "Imie autora", title = "Napisz imie autora. Maksymalnie 50 znaków" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastNameForDisplay)
                                @Html.TextBoxFor(m => m.LastNameForDisplay, new { rows = 4, @class = "form-control", placeholder = "Nazwisko autora, które wyświetlimy", title = "Napisz nazwisko autora. Maksymalnie 50 znaków" })
                                @Html.ValidationMessageFor(m => m.LastNameForDisplay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, new { rows = 4, @class = "form-control", placeholder = "Nazwisko autora", title = "Nazwisko autora bez polskich znaków i spacji. Maksymalnie 50 znaków" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description)
                                @Html.TextAreaFor(m => m.Description, new { rows = 4, @class = "form-control", placeholder = "Opis autora", title = "Napisz kilka słów o autorze" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-2 text-left">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                        </div>
                        <div class="col-md-10 text-right">
                            <input type="submit" class="btn btn-success" value="Zmień" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        myFormValidation('editAuthorForm');
    });
</script>
